node_modules/
client/node_modules/
client/dist/
client/src-tauri/target/
xampp/
.env
*.exe
public/uploads/
.agents/
db-error.log
crash.log
backup/
client-electron/node_modules/
client-electron/dist/
client-electron/dist-manual/